@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:700');

:root {
    --back: #F0F0F0;
    --text: #1A1A1A;
    --gray: #b6b6b6;
    --main: #6b7d27;
    --accent: #ee4b22;
    --GitHub-icon: url("../images/GitHub_black.png");
    --Instagram-icon: url("../images/Instagram_black.png");
    --Twitter-icon: url("../images/Twitter_black.png");
    --note-icon: url("../images/note_black.png");
}
@media (prefers-color-scheme: light) {
    :root {
        --back: #F0F0F0;
        --text: #1A1A1A;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --back: #1A1A1A;
        --text: #F0F0F0;
        --GitHub-icon: url("../images/GitHub_white.png");
        --Instagram-icon: url("../images/Instagram_white.png");
        --Twitter-icon: url("../images/Twitter_white.png");
        --note-icon: url("../images/note_white.png");
    }
}

body {
    background-color: var(--back);
    color: var(--text);
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

p {
    margin: 0px;
}

.main-center {
    text-align: center;
    font-size: 8vmin;
}
.sub-center {
    text-align: left;
    font-size: 4vmin;
    margin: 0px auto;
    width: 80vmin;
    color: var(--gray);
}

/* タイトル */
#title {
    height: 100%;
    padding: calc(50vh - 35vmin) 0px calc(80vh - 35vmin);
}
@keyframes title-circle-edge-scale {
    0%,50% { transform: scale(0, 0); }
    95% { transform: scale(1.1, 1.1); }
    100% { transform: scale(1, 1); }
}
@keyframes title-circle-edge-rotate {
    0%,10% { transform: rotateZ(0deg); }
    80% { transform: rotateZ(-45deg); }
    100% { transform: rotateZ(0deg); }
}
#title-circle-edge {
    margin: auto;
    width: 70vmin;
    height: 70vmin;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--main) 50%, var(--accent) 50%);
    animation: title-circle-edge-scale 2s ease-in-out 0s 1 normal forwards,
                title-circle-edge-rotate 1s ease-in-out 2s 1 normal forwards;
}
#title-circle {
    margin: auto;
    padding: 20vmin 0vmin;
    width: 60vmin;
    height: 20vmin;
    border-radius: 50%;
    background-color: var(--back);
    transform: translateY(5vmin);
}
@keyframes title-text-rotate {
    0.1% { transform: rotateZ(-90deg); }
    100% { transform: rotateZ(0deg); }
}
@keyframes title-text-fadein {
    /* about 2.8s */
    0%,88% { opacity: 0; }
    100% { opacity: 1; }
}
#title-main-text {
    text-align: center;
    font-size: 10vmin;
    animation: title-text-rotate 0.4s ease 2.8s 1 normal forwards running,
                title-text-fadein 3.2s ease-in-out 0s 1 normal forwards running;
}
#title-sub-text {
    text-align: center;
    font-size: 3vmin;
    color: var(--gray);
    animation: title-text-rotate 0.4s ease 2.8s 1 normal forwards running,
                title-text-fadein 3.2s ease-in-out 0s 1 normal forwards running;
}

/* 自己紹介 */
#icon {
    margin: 4vmin auto;
    width: 40vmin;
    height: 40vmin;
    display: block;
}
@keyframes icon-circle-anim {
    0%,25% {
        stroke-dasharray: calc(6.2831843 * 47% / 12) calc(6.2831843 * 47% / 4);
        stroke-dashoffset: calc(6.2831843 * 47% / 3);
    }
    50%,75% {
        stroke-dasharray: calc(6.2831843 * 47% / 4) calc(6.2831843 * 47% / 12);
        stroke-dashoffset: calc(6.2831843 * 47% / 3 * 0.75);
    }
    100% {
        stroke-dasharray: calc(6.2831843 * 47% / 12) calc(6.2831843 * 47% / 4);
        stroke-dashoffset: 0;
    }
}
@keyframes icon-circle-rotate {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}
#icon-circle {
    fill-opacity: 0;
    stroke: var(--gray);
    stroke-width: 2%;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    stroke-dashoffset: 0;
    stroke-dasharray: calc(6.2831843 * 47% / 12) calc(6.2831843 * 47% / 4);
    animation: icon-circle-rotate 3s linear 0s infinite normal forwards,
                icon-circle-anim 1s ease-in-out 0s infinite normal forwards;
    animation-play-state: paused;
}
#icon:hover #icon-circle {
    animation-play-state: running;
}

/* SNSリンク */
#sns-container {
    width: 40vmin;
    margin: 2vmin auto;
    display: flex;
    justify-content: space-between;
}
#sns-twitter {
    background-image: var(--Twitter-icon);
    order: 1;
    background-size: contain;
    width: 5vmin;
    height: 5vmin;
}
#sns-note {
    background-image: var(--note-icon);
    order: 2;
    background-size: contain;
    width: 5vmin;
    height: 5vmin;
}
#sns-github {
    background-image: var(--GitHub-icon);
    order: 3;
    background-size: contain;
    width: 5vmin;
    height: 5vmin;
}
#sns-instagram {
    background-image: var(--Instagram-icon);
    order: 4;
    background-size: contain;
    width: 5vmin;
    height: 5vmin;
}

/* 制作物 */
#product {
    margin: 30vh 0px;
}

/* レスポンシブデザイン */
@media screen and (max-width: 500px) {
    /* スマートフォン */
    
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
    /* タブレット縦 */
    
}

@media screen and (min-width: 1025px) {
    /* タブレット横、PC */
    
}
