@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:700');

:root {
    --back: #F0F0F0;
    --text: #1A1A1A;
    --gray: #b6b6b6;
    --main: #6b7d27;
    --accent: #ee4b22;
    --GitHub-icon: url("../images/GitHub_black.png");
    --Instagram-icon: url("../images/Instagram_black.png");
    --Twitter-icon: url("../images/Twitter_black.png");
    --note-icon: url("../images/note_black.png");
}
@media (prefers-color-scheme: light) {
    :root {
        --back: #F0F0F0;
        --text: #1A1A1A;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --back: #1A1A1A;
        --text: #F0F0F0;
        --GitHub-icon: url("../images/GitHub_white.png");
        --Instagram-icon: url("../images/Instagram_white.png");
        --Twitter-icon: url("../images/Twitter_white.png");
        --note-icon: url("../images/note_white.png");
    }
}

body {
    background-color: var(--back);
    color: var(--text);
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.main-center {
    text-align: center;
    font-size: 8vmin;
}
.sub-center {
    text-align: left;
    font-size: 4vmin;
    margin: 0px auto;
    width: 80vmin;
    color: var(--gray);
}

/* タイトル */
#title {
    height: 100%;
    padding-top: 25vh;
    padding-bottom: 40vh;
}
@keyframes title-circle-edge-scale {
    0% { transform: scale(0, 0); }
    70% { transform: scale(0, 0); }
    96% { transform: scale(1.1, 1.1); }
    100% { transform: scale(1, 1); }
}
@keyframes title-circle-edge-rotate {
    0% { transform: rotateZ(0deg); }
    10% { transform: rotateZ(0deg); }
    80% { transform: rotateZ(-45deg); }
    100% { transform: rotateZ(0deg); }
}
#title-circle-edge {
    margin: auto;
    width: 70vmin;
    height: 70vmin;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--main) 50%, var(--accent) 50%);
    animation: title-circle-edge-scale 3s ease-in-out 0s 1 normal forwards running,
                title-circle-edge-rotate 1s ease-in-out 3s 1 normal forwards running;
}
@keyframes title-circle-translate {
    100% { transform: translateY(5vmin); }
}
#title-circle {
    margin: auto;
    padding: 22.5vmin 0vmin;
    width: 60vmin;
    height: 15vmin;
    border-radius: 50%;
    background-color: var(--back);
    animation: title-circle-translate 3s step-start 0s 1 normal forwards running,
                title-circle-rotate 0.5s ease-in-out 4s 1 normal forwards running;
}
@keyframes title-text-rotate {
    0% { transform: rotateZ(-90deg); }
    100% { transform: rotateZ(0deg); }
}
@keyframes title-text-fadein {
    0% { opacity: 0; }
    /* about 3.8s~ */
    90% { opacity: 0; }
    100% { opacity: 1; }
}
#title-main-text {
    text-align: center;
    font-size: 8vmin;
    animation: title-text-rotate 0.4s ease 3.8s 1 normal forwards running,
                title-text-fadein 4.2s ease-in-out 0s 1 normal forwards running;
}
#title-sub-text {
    text-align: center;
    font-size: 2vmin;
    color: var(--gray);
    animation: title-text-rotate 0.4s ease 3.8s 1 normal forwards running,
                title-text-fadein 4.2s ease-in-out 0s 1 normal forwards running;
}

/* 自己紹介 */
@keyframes icon-rotate{
    0% { transform: rotateZ(0deg); }
    90% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}
#icon-image {
    margin: 5vmin auto;
    background-image: url("../images/2019_Mokuichi.png");
    background-size: contain;
    width: 40vmin;
    height: 40vmin;
    animation: icon-rotate 10s ease 0s infinite normal forwards running;
}

/* SNSリンク */
#sns-container {
    width: 60vmin;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#sns-twitter {
    background-image: var(--Twitter-icon);
    order: 1;
    background-size: contain;
    width: 8vmin;
    height: 8vmin;
}
#sns-note {
    background-image: var(--note-icon);
    order: 2;
    background-size: contain;
    width: 8vmin;
    height: 8vmin;
}
#sns-github {
    background-image: var(--GitHub-icon);
    order: 3;
    background-size: contain;
    width: 8vmin;
    height: 8vmin;
}
#sns-instagram {
    background-image: var(--Instagram-icon);
    order: 4;
    background-size: contain;
    width: 8vmin;
    height: 8vmin;
}

/* レスポンシブデザイン */
@media screen and (max-width: 500px) {
    /* スマートフォン */
    
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
    /* タブレット縦 */
    
}

@media screen and (min-width: 1025px) {
    /* タブレット横、PC */
    #title {
        height: 100%;
        padding-top: 15vh;
        padding-bottom: 40vh;
    }
}