@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:700');

:root {
    --white: #F0F0F0;
    --gray: #888888;
    --black: #1A1A1A;
    --main: #6b7d27;
    --accent: #ee4b22;
}

body {
    background-color: var(--white);
    color: var(--black);
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bold;
    font-size: 28px;
}
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--white);
        color: var(--black);
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--black);
        color: var(--white);
    }
}

#title {
    height: 100%;
    padding-top: 50vh;
}

.main-center {
    text-align: center;
    font-size: 10vmin;
}
.sub-center {
    text-align: center;
    font-size: 5vmin;
    color: var(--gray);
}

@media screen and (max-width: 500px) {
    /* スマートフォン */
    
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
    /* タブレット縦 */
    
}

@media screen and (min-width: 1025px) {
    /* タブレット横、PC */

}